[submodule ".registry"]
	path = .registry
	url = https://github.com/ledell/universe
	shallow = true
	branch = HEAD
[submodule "meetupr"]
	path = meetupr
	url = https://github.com/rladies/meetupr
	shallow = true
	registered = true
[submodule "cvAUC"]
	path = cvAUC
	url = https://github.com/ledell/cvAUC
	shallow = true
	registered = true
[submodule "subsemble"]
	path = subsemble
	url = https://github.com/ledell/subsemble
	shallow = true
	registered = true
[submodule "SuperLearner"]
	path = SuperLearner
	url = https://github.com/ecpolley/SuperLearner
	shallow = true
	registered = true
[submodule "rHealthDataGov"]
	path = rHealthDataGov
	url = https://github.com/rOpenHealth/rHealthDataGov
	shallow = true
	registered = true
