[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cvAUC"]
	path = cvAUC
	url = https://github.com/ledell/cvauc
[submodule "subsemble"]
	path = subsemble
	url = https://github.com/ledell/subsemble
